{% extends 'base.html.twig' %}



{% block title %}
    todo: {{ publication.title }} | {{ form_parent() }}
{% endblock %}

{% block body %}



    {# affiche tte les infos du post #}

    <div>
         <h1>{{ publications.title }}</h1>
        <h5>{{ publications.dateCreated.format('d/m/Y') }}</h5>
        <br>
        <h2>{{ publications.publication}}</h2>
        <br>
        <hr>
        {# todo: afficher le formulaire de commentaire + le nom du proprietaire du comm +le date time du commentaire #}

        {# todo: insertion d'image #}


        {# affiche tte les commentaire associer au post #}


        //affichage du formulaire de creation de commentaire

        <div>
            <br>
            <p><a href="{{path('create')}}">cree un nouveau commentaire</a></p>

        </div>
         {# <h4>
             {{ form_start(commentaireForm) }}
             {{ form_widget(commentaireForm) }}
             <button>Publier !</button>
             {{ form_end(commentaireForm) }}
          </h4>
        #}

        <div class="commentaires">
            {% for commentaires in publications.commentaires %}
                <br>
                {{ commentaires.commentaire }}
            <h6>{{ commentaires.dateCreated.format('d/m/Y') }}</h6>

            {% endfor %}

        </div>
        <hr>

    </div>













{% endblock %}
