{% extends 'base.html.twig' %}



{% block title %}
    todo: {{ publication.title }} | {{ form_parent() }}
{% endblock %}

{% block body %}



    {# affiche tte les infos du post #}
    <div>
        <h1><U>{{ publications.title }}</U></h1>
        <h2>{{ publications.publication}}</h2>
        <h5>{{ publications.dateCreated.format('d/m/Y') }}</h5>
        <hr>
        {# todo: afficher le formulaire de commentaire + le nom du proprietaire du comm +le date time du commentaire #}

        {# todo: insertion d'image #}


        {# affiche tte les commentaire associer au post #}

         {# <h4>
             {{ form_start(commentaireForm) }}
             {{ form_widget(commentaireForm) }}
             <button>Publier !</button>
             {{ form_end(commentaireForm) }}
          </h4>
        #}

        <div class="commentaires">
            {% for commentaires in publications.commentaires %}
                <p>{{ commentaires.commentaire }}</p>
                <h6>{{ commentaires.dateCreated.format('d/m/Y') }}</h6>

            {% endfor %}

            <hr>
        </div>
            <div>
                <br>
                ------------------------------- AFFICHAGE DU FORMULAIRE DE CREATION DE COMMENTAIRE -------------------------------
                <p><a href="{{path('create')}}">Répondre...</a></p>
            </div>

        <hr>

    </div>













{% endblock %}
