{% extends 'base.html.twig' %}



{% block title %}
    todo: {{ publication.title }} | {{ form_parent() }}
{% endblock %}

{% block body %}



    {# afficher tte les infos du post #}

    <div>
        <h1>{{ publications.title }}</h1>
        <h5>{{ publications.dateCreated.format('d/m/Y') }}</h5>
        <br>
        <h2>{{ publications.publication}}</h2>


        <br>

        {# todo: insertion d'image #}



    </div>













{% endblock %}
