{% extends 'base.html.twig' %}



{% block title %}

    List des posts | {{ path() }}

{% endblock %}

{% block body %}

    <section class="post-list">
        <h1> Afficher tous les posts</h1>
         {% for publication in publications %}
             <hr>
            <article>
                <h1><a href="{{ path('publication_details',{'id' : publication.id}) }}" title="Voir plus...">{{ publication.title }}</a></h1>
                <h3><a href="{{ path('publication_details',{'id' :publication.id}) }}"title="Voir plus...">{{ publication.publication }}</a></h3>
                <h5>{{ publication.dateCreated.format('d/m/Y') }}</h5>


                {#  <h4>

                    {{ form_start(commentaireForm) }}
                    {{ form_widget(commentaireForm) }}
                    <br>
                    <button>Publier !</button>
                    {{ form_end(commentaireForm) }}
                </h4>#}



            </article>
        {% endfor %}

    </section>

{% endblock %}

