{% extends 'base.html.twig' %}



{% block title %}

    List des posts | {{ path() }}

{% endblock %}

{% block body %}

    <section class="post-list">
        <h1> Afficher tous les posts</h1>
         {% for publication in publications %}
             <hr>
            <article>
                <h2><a href="{{ path('publication_details',{'id' :publication.id}) }}" title="Voir plus...">{{ publication.title }} à </a>{{ publication.dateCreated.format('d/m/Y') }}</h2>
                <h3><a href="{{ path('publication_details',{'id' :publication.id}) }}"title="Voir plus...">{{ publication.publication }}</a></h3>

                ajouter les 1ers commentaires

                <div>
                    <hr>
                    <br>
                    ------------------------------- AFFICHAGE DU FORMULAIRE DE CREATION DE COMMENTAIRE -------------------------------

                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}

{% block javascripts %}

    //on met en place une écouteur d'evenement sur tous les btn repondre
    <script>
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function (){
                document.querySelector("#comments_parentid").value = this.dataset.id;
            })
        })
    </script>


{% endblock %}

