<!doctype html>
<html lang="en">
<head>
    {% include('inc/head.html.twing') %}
</head>

<body>
<div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/11850032-fleur-de-lys-symbole-isolé-sur-un-fond-blanc-.jpg') }}" style="" alt="logo-kinky"></a>
            <a href="{{ path('main_home') }}" title="title_kinky"> Kinky</a></h1>

        {% include('inc/nav.html.twig') %}



    </header>

    {# affichage du message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}


        {% endblock %}
    </main>

    <footer>

        {% include('inc/footer.html.twig') %}

    </footer>

</div>
</body>

</html>